.headerContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.imgContainer img {
    position: relative;
    border-radius: 50%;
    z-index: 1;
}

.authorDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.authorName {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.authorPosition {
    margin-bottom: 5px;
    font-size: 16px;
    color: #808080;
}

.authorOffer {
    position: relative;
    right: 45px;
    width: 109%;
    background: #FFFBC8;
    border-radius: 5px;
    border: 1px solid #DADADA;
}

.authorOffer p {
    margin-left: 45px;
    width: 250px;
}

@media screen {
    @media (max-width: 661px) {
        .headerContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .authorDescription {
            display: flex;
            align-items: center;
            margin: 5px;
        }

        .authorOffer {
            width: 100%;
            right: 0;
        }

        .authorOffer p {
            margin: 10px auto;
        }
    }
}
